<%= render "entry_content", group: group, entry: entry, use_anchor: use_anchor %>

<% if entry.subentries.any? %>
  <ul class="Entry-subentries">
    <% entry.subentries.order(:name).each do |subentry| %>
      <li>
        <strong class="Entry-subtitle u-xspr"><%= subentry.name %></strong>

        <%= render "entry_content", group: group, entry: subentry, use_anchor: use_anchor %>
      </li>
    <% end %>
  </ul>
<% end %>
