<% if nest && entries.any? %>
  <div class="Entry-related">
    <h3 class="Entry-subtitle"><%= title %></h3>

    <% entries.each do |entry_name| %>
      <% Entry.where(name: entry_name).each do |entry| %>
        <%= render partial: entry, locals: { nest: false } %>
      <% end %>
    <% end %>
  </div>
<% end %>
