<% use_anchor = false unless local_assigns.has_key? :use_anchor %>

<% if results.group(:name).matches.zero? %>
  <div class="Entry Entry--empty">
    Sorry, no results were found.
  </div>
<% else %>
  <% results.group(:name).groups.each do |group| %>
    <% if use_anchor %>
      <div id="<%= group.value.parameterize %>" class="u-anchor"></div>
    <% end %>

    <div class="Entry">
      <h3 class="Entry-title">
        <%= group.value %>
      </h3>

      <% if group.results.count > 1 %>
        <ol class="Entry-list">
          <% group.results.each do |entry| %>
            <% next if entry.glossary_english.blank? && entry.part_of_speech.blank? && entry.variants.empty? %>

            <li>
              <div class="Entry-list-item">
                <%= render "entry", group: group, entry: entry, use_anchor: use_anchor %>
              </div>
            </li>
          <% end %>
        </ol>
      <% else %>
        <%= render "entry", group: group, entry: group.results.first, use_anchor: use_anchor %>
      <% end %>
    </div>
  <% end %>
<% end %>
