<div class="Container">
  <%= form_tag entries_path, method: :get do %>
    <%= text_field_tag :search, nil, placeholder: "Search", class: "Search", value: params[:search] %>
  <% end %>

  <% @entries.each do |entry| %>
    <%= render entry %>
  <% end %>
</div>
