<div class="Topbar">
  <div class="Topbar-lafaek"></div>

  <%= form_tag entries_path, method: :get, class: "Topbar-buka" do %>
    <%= text_field_tag :buka, params[:buka], id: nil, class: "Topbar-buka-input",
       placeholder: "Buka", autocapitalize: "off", autocorrect: "off", spellcheck: "false" %>
  <% end %>
</div>

<div class="Container">
  <div class="Container-sekundariu">
    <h2 class="Container-titulu">
      Common phrases
    </h2>
  </div>

  <div class="Container-prinsipal">
    <h2 class="Container-titulu">
      Definitions
    </h2>

    <% @entries.each do |entry| %>
      <%= render entry %>
    <% end %>
  </div>
</div>
