<div class="Container-footer">
  <a class="Container-footer-link" href="http://www.tetundit.tl/">
    <%= t '.attribution_html' %>
  </a>
  <span class="Container-footer-nota">
    <%= t '.disclaimer_html' %>
  </span>

  <%= link_to "https://www.digitalocean.com/" do %>
    <%= image_tag "digitalocean.svg", alt: "Sponsored by DigitalOcean", class: "Container-footer-patrosiniu" %>
  <% end %>
</div>
