<div class="Container-footer">
  <a class="Container-footer-link" href="http://www.tetundit.tl/">
    <%= t '.attribution_html' %>
  </a>
  <span class="Container-footer-nota">
    <%= t '.disclaimer_html' %>
  </span>
</div>
