<div id="promo" class="Container-prinsipal Container-promo" data-turbolinks-permanent>
  <h1 class="Container-promo-titulu">
    <%= t '.title' %>
  </h1>
  <p class="Container-promo-details">
    <%= t '.description' %>
  </p>
  <%= link_to "✕", "#", class: "Container-promo-close", "data-close": "" %>
</div>
