/* Convert pixels to rems. For eg. for a relational value of 12px write rem(12)
 * Assumes $base is the font-size of <html>
 * From http://bourbon.io */
@function rem($pxval) {
  $base: 16;
  @return ($pxval / $base) * 1rem;
}

// Disable text selection
@mixin no-user-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

// Make text a bit thinner in some browsers
@mixin smooth-text {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
