.u-xspr {
  padding-right: rem(4) !important;
}

.u-nom {
  margin: 0 !important;
}

// Offsets the anchor to adjust for fixed topbar
.u-anchor {
  position: relative;
  top: -1 * rem($topbar-height);
  visibility: hidden;
}
