// Colors
$lighter-grey: #f0f0f0;
$light-grey: #e6e6e6;
$grey: #d3d3d3;
$dark-grey: #999;
$darker-grey: #545454;
$orange: #fec93e;
$blue: #36579d;
$light-green: #7ed321;
$green: #019263;
$red: #c12436;
$black: #000;
$white: #fff;

$background-color: $light-grey;

// Dimensions
$gutter: 30;
$main-margin-left: 65;
$topbar-height: 55;
$body-min-width: 240px;

// Fonts
$font-family-sans-serif: Lato, sans-serif;

// Others
$global-shadow: 0 0 rem(10) rgba($black, 0.1);
