/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "mixins";
@import "variables";
@import "utilities";

body {
  $background-color: $light-grey;

  background: $background-color;
  font-family: $font-family-sans-serif;
}

.Topbar {
  $topbar-color: $orange;
  $topbar-height: 55;

  background: $topbar-color;
  height: rem($topbar-height);
  box-shadow: 0 0 rem(10) rgba($black, 0.1);

  &-lafaek {
    background: $black url(lafaek.svg) no-repeat;
    background-size: rem(65) rem(55);

    width: rem($main-margin-left);
    height: rem($topbar-height);
    float: left;
  }

  &-buka {
    background: url(buka.svg) no-repeat rem(16) center;
    background-size: rem(19) rem(18);
    float: left;

    &-input {
      background: transparent;
      border: none;
      box-sizing: border-box;
      font-size: rem(21);
      font-family: $font-family-sans-serif;
      height: rem($topbar-height - 2);
      outline: none;
      padding-left: rem($gutter/2);
      margin-left: rem($gutter);
      width: 100%;

      &::placeholder {
        color: $black;
      }
    }
  }
}

.Container {
  margin: rem($gutter);
  margin-left: rem($main-margin-left);

  &-titulu {
    font-weight: 700;
    text-transform: uppercase;
    font-size: rem(12);
    color: $grey;
    letter-spacing: rem(0.6);
    margin-top: 0;
    margin-bottom: rem(10);

    @include no-user-select;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  &-prinsipal,
  &-sekundariu {
    float: left;
    width: 100%;
    box-sizing: border-box;
  }

  &-sekundariu {
    padding-bottom: rem($gutter);
  }

  // Improvements for bigger screens
  @media (min-width: 601px) {
    &-prinsipal {
      width: 60%;
    }

    &-sekundariu {
      float: right;
      width: 40%;
      padding-left: rem($gutter);
      padding-bottom: 0;
    }
  }
}

.Entry {
  margin-bottom: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid currentColor;

  &-header {
    background: white;
    padding: 0.5rem;
  }

  &-body {
    margin: 0.5rem;
  }

  &-related {
    background: lightyellow;
    color: #777;
    padding: 0.5rem;
  }

  &-title,
  &-subtitle,
  &-glossary,
  &-examples {
    margin: 0 0 0.5rem;
  }

  &-name {
    color: navy;
    text-decoration: none;
  }

  &-subtitle {
    color: black;
  }

  &-partOfSpeech {
    font-weight: normal;
  }

  &-examples {
    font-style: italic;
    border-left: 2px solid lightgrey;
    padding-left: 0.5rem;

    &--tetun {
      color: navy;
    }
    &--english {
      color: grey;
    }
  }

  &-subentries {
    margin-left: 3em;
  }
}

// Improvements for various screens
@media (min-width: 801px) and (max-width: 1024px) {
  html { font-size: 14px }
}
@media (min-width: 701px) and (max-width: 800px) {
  html { font-size: 13px }
}
@media (max-width: 700px) {
  html { font-size: 12px }
}
