@import "animate";
@import "mixins";
@import "variables";
@import "utilities";

body {
  background: $background-color;
  font-family: $font-family-sans-serif;
}

.Topbar {
  $topbar-color: $orange;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 42;
  background: $topbar-color;
  height: rem($topbar-height);
  box-shadow: $global-shadow;

  &-lafaek {
    background: $black url(lafaek.svg) no-repeat;
    background-size: rem(65) rem(55);

    width: rem($main-margin-left);
    height: rem($topbar-height);
    float: left;
  }

  &-buka {
    background: url(buka.svg) no-repeat rem(16) center;
    background-size: rem(19) rem(18);
    float: left;

    &-input {
      background: transparent;
      border: none;
      box-sizing: border-box;
      font-size: rem(21);
      font-family: $font-family-sans-serif;
      height: rem($topbar-height - 2);
      outline: none;
      padding-left: rem($gutter/2);
      margin-left: rem($gutter);
      width: 100%;

      &::placeholder {
        color: $black;
      }
    }
  }
}

.Container {
  margin: rem($gutter + $topbar-height) rem($gutter) rem($gutter) rem($main-margin-left);
  overflow: auto;

  &-titulu {
    font-weight: 700;
    text-transform: uppercase;
    font-size: rem(12);
    color: $grey;
    letter-spacing: rem(0.6);
    margin-top: 0;
    margin-bottom: rem(10);

    @include no-user-select;
    @include smooth-text;
    cursor: default;
  }

  &-prinsipal,
  &-sekundariu,
  &-footer {
    float: left;
    width: 100%;
    box-sizing: border-box;
  }

  &-sekundariu {
    padding-bottom: rem($gutter);
  }

  &-footer {
    @include no-user-select;
    @include smooth-text;
    font-size: rem(14);
    line-height: rem(20);
    margin-top: rem($gutter);

    &-link, &-nota {
      display: block;
    }

    &-link {
      color: $black;
      text-decoration: none;
    }

    &-nota {
      display: block;
      color: $grey;
      cursor: default;
    }
  }

  // Improvements for bigger screens
  @media (min-width: 601px) {
    &-prinsipal {
      width: 60%;
    }

    &-sekundariu,
    &-footer {
      float: right;
      width: 40%;
      padding-left: rem($gutter);
      padding-bottom: 0;
    }
  }
}

.Alfabetu {
  background: $lighter-grey;
  text-align: center;
  overflow: auto;

  &-letra {
    display: block;
    float: left;
    width: 100/23 * 1%;
    line-height: rem(24);
    height: rem(24);
    padding-bottom: rem(2);
    color: $red;
    text-decoration: none;

    &.is-active {
      background: $white;
      font-weight: 900;
      font-size: rem(15);
    }
  }
}

.Entry {
  $space: 15;
  $small-space: 10;

  background: $white;
  padding: rem($space);
  border-bottom: 1px solid $background-color;

  &-title {
    margin-top: rem(-3);
    margin-bottom: rem($small-space);
    font-size: rem(18);
    font-weight: 900;
  }

  &-subtitle {
    font-weight: 900;
  }

  &-label {
    font-weight: 700;
    text-transform: uppercase;
    font-size: rem(11);
    color: $grey;
    letter-spacing: rem(0.5);
  }

  a.Entry-label {
    color: $red;
  }

  &-partOfSpeech {
    color: $grey;
  }

  &-reference {
    font-size: rem(15.2);
    font-weight: 700;
  }

  &-list {
    padding-left: rem($space);
    margin: 0;
    font-weight: 900;

    &-item {
      margin-left: rem($small-space);
      font-weight: 400;
    }
  }

  &-examples {
    color: $blue;
    margin-left: rem($small-space*2);
    @include smooth-text;

    &--tetun {
      margin-top: rem($small-space);
    }

    &--english {
      font-style: italic;
      margin-bottom: rem($small-space);
    }
  }

  &-subentries {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    margin-top: rem($small-space);
  }
}

.Sheet {
  position: fixed;
  margin-right: -1 * rem($main-margin-left - $gutter);
  padding-right: rem($main-margin-left - $gutter);
  padding-top: rem($topbar-height);
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40%;
  background: $white;
  box-shadow: $global-shadow;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 41;

  &-header {
    @extend .Entry;
    overflow: auto;
    position: relative;
  }

  &-titulu {
    @extend .Container-titulu;
    margin: 0;
  }

  &-close {
    position: absolute;
    top: rem(12);
    right: rem(12);
    text-align: center;
    text-decoration: none;
    color: $red;
  }
}

// Improvements for various screens
@media (min-width: 801px) and (max-width: 1024px) {
  html { font-size: 14px }
}
@media (min-width: 701px) and (max-width: 800px) {
  html { font-size: 13px }
}
@media (max-width: 700px) {
  html { font-size: 12px }
}
