<% if flash.any? %>
  <div class="Snackbar">
    <div id="snackbar" class="Snackbar-message animated bounceInUp" data-turbolinks-permanent>
      <%= link_to "✕", "#", class: "Snackbar-close", data: { close: "", animation: "slideOutDown" } %>
      <%= flash.first.last %>
    </div>
  </div>
<% end %>

<script>
  // Remove the initial snackbar animation so it doesn't happen again
  setTimeout(function() {
    $(".Snackbar-message").removeClass("bounceInUp");
  }, 1050);
</script>
